@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    
   /* Colors */
   --black: #000;
   --white: #fff;
   --first-color: #A9EADF;
   --second-color: #00A6AB;
   --third-color: #EEAE2A;

   /* Font Sizes, Weights */
   --small-font-size: 16px;
   --normal-font-size: 20px;
   --big-font-size: 80px;

   --semi-bold: 400;
   --bold: 700;
}

* { 
    font-family: 'Inter', sans-serif;
}


.go-to-section {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
 }
   

/*========== FIRST PAGE ==========*/


.first-page-body {
    margin: 60px;
}

.first-page-profile {
    float: right;
    text-decoration: none;
    font-size: 50px;
    color: var(--black);
}

/* First Page | Section */

.first-page-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.first-page-qoute {
    font-size: var(--normal-font-size);
    font-weight: var(--semi-bold);
    padding-top: 10%;
    margin-bottom: 40px;
}

.first-page-title {
    margin-top: 0;
    font-size: var(--big-font-size);
    font-weight: var(--bold);
}

.learn-more-button {
    padding: 20px 50px; 
    font-size: var(--small-font-size); 
    border: 1px solid var(--black);
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}


/* First Page | Nav */
.first-page-nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the flexbox spans the full width */
}

.first-page-profile {
    margin-left: auto; /* Move the icon to the right */
}


/* First Page | Socials */

.first-page-home-social, .main-page-home-social {
    position: absolute;
    bottom: 50px; 
    right: 60px; 
}

.first-page-home-social-icon, .main-page-home-social-icon {
    color: var(--black);
    text-decoration: none;
    font-size: 25px;
    font-weight: var(--semi-bold);
    padding: 10px;
}

/*========== SECOND  PAGE ==========*/

.second-page-body {
    background: var(--first-color);
}

.second-page-home-main, .about-us-main, .services-page-main, 
.partnership-page-main, .booking-page-main, .contact-page-main {
    margin: 60px;
}

#about-us-page, #partnership-page, #contact-page {
    background: var(--white);
}

/* Navbar */

nav {
    padding: 10px;
}
.containernav{
    max-width: 1200px; /* Limiting the container width */
    margin: 0 auto; /* Centering the container */
    display: flex; /* Using flexbox for layout */
    align-items: center; /* Centering items vertically */
    justify-content: space-between; /* Distributing items evenly */
}

.nav_logo img {
    width: 150px; /* Adjust the logo width as needed */
}


/* searchbar */

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 20px 20px;
    border: 2px solid #EEAE2A;
    border-radius: 30px 0 0 30px;
    margin: 0;
    font-size: 24px; 
    width: 1000px;
}

#search-button {
    padding: 20px 20px;
    background-color: #EEAE2A66;
    width: 100px;
    color: #000000;
    border: none;
    border-radius: 0 30px 30px 0; 
    cursor: pointer;
    font-size: 24px;
}

#search-button:hover {
    background-color: #EEAE2A;
}



/* Styles for the menu */
.menu ul {
    list-style-type: none; /* Removing default list styles */
    display: flex; /* Using flexbox for layout */
}

.menu li {
    margin-right: 100px; 
    font-weight: bold;
}


.menu a {
    text-decoration: none; /* Removing default underline from links */
    color: #333; /* Setting text color */
}

.navbar-nav .nav-item {
    padding: 20px;
}


.navbar-nav .nav-link {
    font-size: 18px; 
}

.nav-link {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
}

.second-page-profile {
    float: right;
    text-decoration: none;
    font-size: 50px;
    color: var(--black);
    color: #333; /* Setting icon color */
}

/* Second Page | Home */

.second-page-home-main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-top: 5%;

    letter-spacing: 10px;
}
.second-page-home-main h2 {
    font-size: 80px;
    font-weight: bold;

}

.second-page-home-social {
    margin-top: 20%;
    margin-right: 60px;
    float: right;
}

.second-page-home-social-icon {
    color: var(--black);
    text-decoration: none;
    font-size: 25px;
    font-weight: var(--semi-bold);
    padding: 10px;
}

/* Second Page | About Us Section */

#about-us-page {
    margin-top: 25%;
}

.about-us-main {
    padding-top: 10%;
    padding-bottom: 10%;
}

.about-us-desc h2 {
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

.second-page-list {
    margin-top: 15%;
}
.second-page-list-icon {
    color: var(--black);
    text-decoration: none;
}
.second-page-list-icon span {
    color: var(--third-color);
}
.second-page-list-icon h2 {
    font-size: 25px;
}

/* Second Page | Services Section */

.second-page-section {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}

.services-page-main {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.services-page-main h2 {
    font-size: 30px;
    font-weight: var(--bold);
}


.second-page-services-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second-services-list {
    padding-bottom: 5%;
}
.second-page-services-icon {
    flex: 1 1 300px;
    max-width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.second-page-services-icon img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.second-page-services-icon h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for service icon description */
.second-page-services-icon p {
    font-size: 16px;
    color: #666;
}

#services-icon {
    padding-bottom: 20px;
}

/* Second Page | Partnership Section */

.partnership-page-main {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.partnership-page-main h2 {
    font-size: 30px;
    font-weight: var(--bold);
    margin-bottom: 20px;
}

.partnership-page-main p {
    font-size: 16px;
    margin-bottom: 20px;
}
.partnership-container {
    display: flex;
    flex-direction: row;
    gap: 200px;
   
}

.partnership-left-column {
    flex: 1;
    text-align: justify;
}

.partnership-right-column {
    flex: 1;
    text-align: justify;
}

.partnership-left-column h2 {
    font-weight: bold;
}


.register-buttons {
    padding-right: 10%;
    margin-top: 20%;
    margin-left: 70%;
    display: flex;
    justify-content: center;
    gap: 100px;
}


/* buttons design*/
.register-button, .contact-us-button, .book-now-button, .read-more-button {
    border: none;
    border-radius: 0;
    text-align: center;
    width: 200px;
    padding: 15px 45px; 
    font-size: var(--small-font-size); 
    color: var(--third-color);
    background-color: var(--black);
    cursor: pointer;
}

/* Second Page | Booking Section */

.booking-page-main {
    margin: 15%;
    padding: 100px;
    border: 2px solid var(--black);
    background: #D9D9D980;
}

.booking-page-main h2 {
    font-size: 30px;
    font-weight: var(--bold);
    line-height: 35px;
    color: #739274;
}

.booking-page-main form {
    margin-top: 10%;
}

.form-textbox {
    line-height: 40px;
    padding: 20px;
}

.form-control {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--black);
}

#date-description {
    padding: 15px;
    font-size: 13px;
    line-height: 15px;
}

/* Second Page | Contact Section */

.contact-page {
    padding-top: 5%;
    padding-bottom: 5%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-page-main h1 {
    font-size: 40px;
    font-weight: var(--bold);
    margin-right: 10%;
}

.second-page-contact-list {
    margin-top: 20px;
    text-align: justify;
    margin-left: 30px;
}
.second-page-contact-list h2 {
    font-size: 25px;
}

/* Second Page | Footer */

.footer {
    margin-left: -5%;
    padding-top: 5%;
    color: #6C6C6C;
    padding: 20px 0;
}
.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-logo img {
    display: block;
    margin: 0 auto;
    width: 200px; 
}


.footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_row > div {
    flex: 1;
    margin-right: 20px;
}
.footer-description {
    flex-basis: calc(50% - 20px);
}

.footer-description h2, .footer-useful-links h2, .footer-support-links h2 {
    font-size: var(--normal-font-size);
  
    color: #333;
    margin-top: 20px;
}


.footer-description p {
   
    text-align: justify;
    color: #666;
}

.footer-useful-links{
    margin-left: 130px;
}
.useful-items,
.support-item {
    list-style: none;
    padding: 0;
}


.footer-nav-link {
    text-decoration: none;
    font-weight: var(--semi-bold);
    color: #6C6C6C;
}

.footer_copyright {
    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;
}

#footer_copy {
    font-size: var(--small-font-size);
    color: var(--black);
    font-weight: var(--semi-bold);
}


/*========== LOGIN PAGE ==========*/

.container-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginpageleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.loginpagelefttext {
    font-size: 70px;
    letter-spacing: 5px;
}

.logincontainer {
    border: 3px solid var(--black);
    padding: 20px;
    height: 600px;
    width: 600px; /* Adjusted width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #D9D9D9;
    margin-right: 300px;
}


.loginform .form-control {
    border: none;
    border-bottom: 1px solid var(--black); 
    border-radius: 0; 
    background-color: #D9D9D9;
    margin: 20px;
    width: calc(100% - 40px); /* Adjusted width */
    max-width: 400px; /* Added max-width */
}

.loginbutton {
    border: none;
    margin-top: 5%;
    border-radius: 0;
    color: var(--white);
    background-color: #EEAE2A;
    width: calc(100% - 40px); /* Adjusted width */
    max-width: 400px; /* Added max-width */
    height: 50px;
}

.form-control {
    padding-left: 30px;
    width: 100%;
    font-size: 25px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to center horizontally */
}

.input-icon {
    margin-right: 10px; 
    font-size: 20px;
}

.input-icon i {
    font-size: 1.2em; /* Adjust icon size */
    color: #333; /* Adjust icon color */
}

.input-group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group-prepend {
    align-self: flex-start;
}

.input-group-text {
    border: none;
    border-radius: 0;
    background-color: #D9D9D9;
}

.forgotpass {
    float: left;
    font-size: 20px;
}


/*========== REGISTER PAGE ==========*/

.containerregister {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /* Center the container */
}

.registercontainer {
    background-color: #D9D9D9;
    border: 3px solid var(--black);
    padding: 40px;
}

.register-main h1 {
    color: #6E6E6E;
    text-align: center;
}

.register-form-container {
    margin-top: 20px; /* Space between title and form */
}

.register-form {
    color: var(--black);
    font-weight: var(--bold);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; /* Space between rows */
}

.form-group {
    flex: 1;
    margin-right: 15px; /* Space between form elements */
}

.registerbutton {
    text-decoration: none;
    border: none;
    margin-top: 20px; /* Space between form and button */
    border-radius: 0;
    color: var(--white);
    background-color: #EEAE2A;
    width: 100%; /* Button width */
    max-width: 350px; /* Maximum button width */
    height: 50px;
}


/*========== animation & hover ==========*/

.learn-more-button:hover {
    color: var(--black);
    border: 1px solid var(--third-color);
    background-color: var(--white);
    transition: 0.2s;
}

.first-page-home-social-icon:hover, .first-page-profile:hover, 
.second-page-profile:hover, .second-page-home-social-icon:hover,
.footer-nav-link:hover {
    color: var(--second-color);
    transition: 0.2s;
}

.navlink:hover {
    color: var(--second-color);
}

.read-more-button:hover, .register-button:hover, 
.contact-us-button:hover, .book-now-button:hover {
    background-color: var(--second-color);
    color: var(--black);
}

.loginbutton:hover{
    background-color: var(--third-color);
    color: var(--black);
}

.registerbutton:hover{
    text-decoration: none;
    background-color: var(--third-color);
    color: var(--black);
}

